.animated-size-container {
    overflow: hidden;

    /* only for the first render */
    height: fit-content;
    width: fit-content;
}

.animated-size-container.fill-width,
.animated-size-container.fill-width .animated-size-container-mask
{
    width: 100%;
}

.animated-size-container.fill-height,
.animated-size-container.fill-height .animated-size-container-mask
{
    height: 100%;
}

.animated-size-container-mask {
    height: fit-content;
    width: fit-content;
}