@page "/animated-visibility"

<PageTitle>AnimatedVisibility Examples</PageTitle>

<h2>AnimatedVisibility Examples</h2>

<p>
    This page demonstrates the <b>AnimatedVisibility</b> component from BlazorCssTransitions.
</p>

<AnimatedVisibilityBasicExample />

<AnimatedVisibilityStartWithTransitionExample />

<AnimatedVisibilityCustomTransitionExample />

<AnimatedVisibilityDisappearWhenHiddenExample />

<AnimatedVisibilityRemoveFromDOMWhenHiddenExample />
