@page "/"

<PageTitle>BlazorCssTransitions Example</PageTitle>

<h1>BlazorCssTransitions Example</h1>

<p>
    Welcome! This app demonstrates the features of the <b>BlazorCssTransitions</b> library.
</p>

<ul>
    <li><a href="animated-visibility">AnimatedVisibility Examples</a></li>
    <li><a href="animated-size-container">AnimatedSizeContainer Examples</a></li>
    <!-- Add more links as you add more component pages -->
</ul>

<p>
    Use the navigation menu to explore examples of each component.
</p>
