@using BlazorCssTransitions.AnimatedVisibilityTransitions
@using BlazorCssTransitions.Specifications

@implements IDisposable

<div class=@GetContainerClasses()
     style=@GetContainerStyle()
     @ref=@Container>

    @ChildContent

</div>
